@font-face {
    font-family: 'Birthday';
    src: url('./../fonts/Birthday.ttf');
  }

*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: red;
    font-family: 'Birthday';
}

nav ul{
    text-align: center;
    margin: 15px 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    background-color: blueviolet;
    color: blanchedalmond;
    padding: 10px 30px;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.box-container{
    padding: 15px 30px;
    text-align: center;
}

.box-item{
    display: inline-block;
    width: 150px;
    background: white;
    text-align: center;
    box-shadow: 0px 5px 15px -10px black;
}

.item-image{
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
}

.item-image img{
    width: 100%;
}

.box-item span{
    display: inline-block;
    margin-bottom: 15px;
}

.box-item h4{
    font-size: 14px;
}

.box-item span{
    font-size: 12px;
    color: grey;
}